<div fxLayout="column" style="font-size:13px;">
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Type Of Dealer</mat-label>

		<input matInput >
    </mat-form-field>
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Reverse Charge</mat-label>

			<input matInput >
    </mat-form-field>
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Ecommin Gstin</mat-label>

				<input matInput >
    </mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>State</mat-label>

					<input matInput  >
    </mat-form-field>
					<mat-form-field class="example-full-width" appearance="fill">
						<mat-label>Gstin</mat-label>

						<input matInput >
    </mat-form-field>
						<mat-form-field class="example-full-width" appearance="fill">
							<mat-label>Port Code</mat-label>

							<input matInput >
    </mat-form-field>
							<mat-form-field class="example-full-width" appearance="fill">
								<mat-label>Shipping Bill Number</mat-label>

								<input matInput >
    </mat-form-field>
								<mat-form-field class="example-full-width" appearance="fill">
									<mat-label>Shipping Bill Date</mat-label>

									<input matInput >
    </mat-form-field>
									<mat-form-field class="example-full-width" appearance="fill">
										<mat-label>Nature of Document</mat-label>

										<input matInput >
    </mat-form-field>
										<mat-form-field class="example-full-width" appearance="fill">
											<mat-label>Nature of Transaction</mat-label>

											<input matInput >
    </mat-form-field>
											<mat-form-field class="example-full-width" appearance="fill">
												<mat-label>Itc Eligibility</mat-label>

												<input matInput >
    </mat-form-field>
</div>