.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.item {
  width: 27%;
}

.inputs {
  width: 7%;
}

.taxInputs {
  width: 16%;
}

.voucherItems {
  font-size: 10px;
}
/* .example-full-width{
  height: 10px;
} */
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: white;
}
