<!-- <mat-accordion>
	<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<div fxLayout="row">
				<mat-form-field class="example-full-width item">
					<mat-label>Item</mat-label>
					<input matInput>
    </mat-form-field>

					<mat-form-field class="example-full-width">
						<mat-label>First name</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field class="example-full-width">
							<mat-label>First name</mat-label>
							<input matInput>
    </mat-form-field>
							<mat-form-field class="example-full-width">
								<mat-label>First name</mat-label>
								<input matInput>
    </mat-form-field>
								<mat-form-field class="example-full-width">
									<mat-label>First name</mat-label>
									<input matInput>
    </mat-form-field>
			</div>
			<mat-panel-description>

			</mat-panel-description>
		</mat-expansion-panel-header>

	</mat-expansion-panel>
</mat-accordion> -->

<mat-accordion>
	<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-description class="voucherItems">
				<div fxLayoutGap="10px">
					<mat-form-field class="item" appearance="fill">
						<mat-label>Item</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field class="example-full-width inputs" appearance="fill">
							<mat-label>UOM</mat-label>
							<input matInput>
    </mat-form-field>
							<mat-form-field class="example-full-width inputs" appearance="fill">
								<mat-label>Qnty</mat-label>
								<input matInput>
    </mat-form-field>
								<mat-form-field class="example-full-width inputs" appearance="fill">
									<mat-label>Price</mat-label>
									<input matInput>
    </mat-form-field>
									<mat-form-field class="example-full-width inputs" appearance="fill">
										<mat-label>Lot No</mat-label>
										<input matInput>
    </mat-form-field>
										<mat-form-field class="example-full-width taxInputs" appearance="fill">
											<mat-label>TAX</mat-label>
											<input matInput>
    </mat-form-field>
											<mat-form-field class="example-full-width taxInputs" appearance="fill">
												<mat-label>Amount</mat-label>
												<input matInput>
    </mat-form-field>
												<span style="margin-top:20px" class="material-icons" title="delete voucher item">delete</span>
				</div>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div fxLayout="row" fxLayoutAlign="space-between end" style="margin-top:20px;;font-size:10px;">
			<div>
				<mat-form-field class="example-full-width " appearance="fill" style="width:10%;">
					<mat-label>S.No</mat-label>
					<input matInput>
    </mat-form-field>
					<mat-form-field class="example-full-width" appearance="fill">
						<mat-label>Description</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field class="example-full-width " appearance="fill" style="width:10%;">
							<mat-label>Qnty</mat-label>
							<input matInput>
    </mat-form-field>
							<span style="margin-top:10px;margin-left:5px;" class="material-icons" title="delete voucher item">delete</span>

			</div>
			<div fxLayout="row" fxLayoutGap="10px" style="margin-right:65px;">
				<p>Effective Amount:</p>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput>
    </mat-form-field>
			</div>

		</div>
		<div>
			<button mat-raised-button style="font-size:10px;">Add Sub Item</button>
		</div>
		<div>
			<div fxLayoutAlign="end" style="margin-right:35px;font-size:10px;">
				<mat-form-field class="example-full-width " appearance="fill" style="width:5%;">
					<mat-label>Bill Sundry</mat-label>
					<input matInput>
    </mat-form-field>
					<mat-form-field class="example-full-width" appearance="fill">
						<mat-label>Description</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field class="example-full-width " appearance="fill" style="width:5%;">
							<mat-label>Value</mat-label>
							<input matInput>
    </mat-form-field>
							<mat-form-field class="example-full-width taxInputs" appearance="fill">
								<mat-label>Amount</mat-label>
								<input matInput>
    </mat-form-field>
								<span style="margin-top:10px;margin-left:5px;" class="material-icons" title="delete voucher item">delete</span>
			</div>
			<div fxLayoutAlign="center" style="margin-left:190px;">
				<button mat-raised-button style="font-size:10px;">Add Sub Item</button>
			</div>
		</div>
    	<div fxLayoutAlign="row" fxLayoutGap="10px" style="margin-right:65px;">
				<p>Taxable Amount:</p>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput>
    </mat-form-field>
			</div>

	</mat-expansion-panel>
</mat-accordion>