<form [formGroup]="voucherForm">
	<mat-accordion>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-description class="voucherItems">

					<div formArrayName="skills" *ngFor="let skill of voucherForm.get('skills')['controls'];let i=index">
						<div fxLayoutGap="10px" [formGroupName]="i">
							<mat-form-field class="item" appearance="fill">
								<mat-label [attr.for]="'item'+i">Item</mat-label>
								<input matInput matInput [id]="'item'+i" formControlName="item">
    </mat-form-field>
								<mat-form-field class="example-full-width inputs" appearance="fill">
									<mat-label [attr.for]="'uom'+i">UOM</mat-label>
									<input matInput [id]="'uom'+i" formControlName="uom">
    </mat-form-field>
									<mat-form-field class="example-full-width inputs" appearance="fill">
										<mat-label [attr.for]="'quantity'+i">Qnty</mat-label>
										<input matInput [id]="'quantity'+i" formControlName="quantity">
    </mat-form-field>
										<mat-form-field class="example-full-width inputs" appearance="fill">
											<mat-label [attr.for]="'price'+i">Price</mat-label>
											<input matInput [id]="'price'+i" formControlName="price">
    </mat-form-field>
											<mat-form-field class="example-full-width inputs" appearance="fill">
												<mat-label [attr.for]="'lotNo'+i">Lot No</mat-label>
												<input matInput [id]="'lotNo'+i" formControlName="lotNo">
    </mat-form-field>
												<mat-form-field class="example-full-width taxInputs" appearance="fill">
													<mat-label [attr.for]="'tax'+i">TAX</mat-label>
													<input matInput [id]="'tax'+i" formControlName="tax">
    </mat-form-field>
													<mat-form-field class="example-full-width taxInputs"
														appearance="fill">
														<mat-label [attr.for]="'amount'+i">Amount</mat-label>
														<input matInput [id]="'amount'+i" formControlName="amount">
    </mat-form-field>
														<span style="margin-top:20px" class="material-icons" title="delete voucher item">delete</span>
						</div>
					</div>

				</mat-panel-description>
			</mat-expansion-panel-header>
			<app-voucher-sub-item></app-voucher-sub-item>
			<app-voucher-bill-sundry></app-voucher-bill-sundry>
			<!-- <div fxLayoutAlign="row" fxLayoutGap="10px" style="margin-right:65px;">
				<p>Taxable Amount:</p>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput>
    </mat-form-field>
			</div> -->

		</mat-expansion-panel>
	</mat-accordion>

	<div class="form-group" fxLayoutAlign="row">
		<div class="col-md-offset-2 col-md-4">
			<button mat-raised-button color="primary" type="button"  (click)="addSkillButtonClick()"
         style="margin-left:590px">
      Add Voucher
    </button>
		</div>
	</div>
</form>