<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [formGroup]="formGroup"
	class="mat-elevation-z0">
	<mat-expansion-panel-header>
		<mat-panel-description>
			<div fxLayout="row" [ngStyle.sm]="{'font-size.px': 8}" [ngStyle.gt-sm]="{'font-size.px': 9}"
				[ngStyle.lg]="{'font-size.px': 12}">
				<div fxLayoutGap="3px" fxLayoutGap.sm="1px" fxLayoutGap.gt-sm="2px">
					<mat-form-field appearance="fill" fxFlex="22%" fxFlex.sm="9%" fxFlex.gt-sm="13%">
						<mat-label>Item</mat-label>
						<input matInput formControlName="item">
						<mat-error>
							{{getItemError()}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" fxFlex="8%" fxFlex.sm="5%" fxFlex.gt-sm="6%">
						<mat-label>Unit Of Measure</mat-label>
						<input matInput formControlName="uom">
						<mat-error>
							{{ getUomError()}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" fxFlex="8%" fxFlex.sm="3%" fxFlex.gt-sm="5%">
						<mat-label>Quantity</mat-label>
						<input matInput formControlName="quantity">
						<mat-error>
							{{getQuantityError()}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" fxFlex="8%" fxFlex.sm="3%" fxFlex.gt-sm="5%">
						<mat-label>Price</mat-label>
						<input matInput formControlName="price">
						<mat-error>
							{{getPriceError()}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" fxFlex="8%" fxFlex.sm="3%" fxFlex.gt-sm="5%">
						<mat-label>Lot No</mat-label>
						<input matInput formControlName="lotNo">
						<mat-error>
							{{getLotNoError()}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" fxFlex="13%" fxFlex.sm="4%" fxFlex.gt-sm="9%">
						<mat-label>Tax</mat-label>
						<input matInput formControlName="tax">
						<mat-error>
							{{getTaxError()}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" fxFlex="13%" fxFlex.sm="4%" fxFlex.gt-sm="10%">
						<mat-label>Amount</mat-label>
						<input matInput formControlName="amount">
						<mat-error>
							{{getAmountError()}}</mat-error>
					</mat-form-field>

					<!-- <button *ngIf="parentFormGroup.get('skills')['controls'].length==1" style="border: none; background: none;outline:none;"
            [disabled]="parentFormGroup.get('skills')['controls'].length==1 ? 'disabled' : null "><span class="material-icons" title="delete bill Sundry" >delete</span></button>
				<button *ngIf = "parentFormGroup.get('skills')['controls'].length>1" style="border: none; background: none;outline:none;"><span  class="material-icons" title="delete bill Sundry" (click)="removeSkillButtonClick()"
       >delete</span></button> -->
					<button mat-icon-button color="accent"
          [disabled]="parentFormGroup.get('skills')['controls'].length <= 1 "
          (click)="removeSkillButtonClick()">
        <mat-icon fxFlex.sm="5%" fxFlex.gt-sm="4%" [ngStyle.gt-sm]="{'margin-bottom.px': 12,'margin-left.px':6}" [ngStyle.sm]="{'margin-bottom.px': 10}">clear</mat-icon>
      </button>
				</div>
			</div>

		</mat-panel-description>
	</mat-expansion-panel-header>
	<div fxLayout="column">
		<div fxLayout="row" fxLayout.sm="column" [ngStyle.sm]="{'font-size.px': 8}"
			[ngStyle.gt-sm]="{'font-size.px': 9}" [ngStyle.lg]="{'font-size.px': 12}">
			<div fxLayout="column" fxFlex="50%">
				<app-voucher-sub-item *ngFor="let sub of formGroup.get('subItem')['controls'];let j=index"
					[formGroup]="sub" [parentFormGroup]="formGroup" [parentData]="j">
				</app-voucher-sub-item>
				<button mat-raised-button style="margin-top:10px;" [ngStyle.sm]="{'font-size.px': 6,'margin-top.px':5}"
      [ngStyle.gt-sm]="{'font-size.px': 8,'margin-top.px':7}"
      (click)="addSubItem(formGroup)">Add Sub Item</button>
			</div>
			<div [ngStyle.lg]="{'margin-right.px':70,'margin-bottom.px':20}" fxLayoutAlign="end"
				[ngStyle.sm]="{'margin-top.px':15,'margin-right.px':55}" fxFlex="50%">
				<mat-label style="margin-right:10px" [ngStyle.sm]="{'margin-top.px':5}"
					[ngStyle.gt-sm]="{'margin-top.px':5}">
					Effective Amount:</mat-label>
				<mat-form-field appearance="fill" fxFlex.sm="30%" fxFlex.gt-sm="40%"
					[ngStyle.sm]="{'margin-right.px':55}">
					<input matInput formControlName="effectiveAmount">
    </mat-form-field>
					<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
			</div>
		</div>

		<app-voucher-bill-sundry *ngFor="let bill of formGroup.get('bills')['controls'];let j=index" [formGroup]="bill"
			[parentFormGroup]="formGroup" [parentData]="j"></app-voucher-bill-sundry>
		<div fxLayoutAlign="center" fxLayoutAlign.sm="center" [ngStyle.lg]="{'margin-left.px':170,'margin-top.px':10}">
			<button mat-raised-button [ngStyle.lg]="{'font-size.px':10}" [ngStyle.sm]="{'font-size.px': 6,'margin-top.px':5,'margin-right.px':170}" [ngStyle.gt-sm]="{'font-size.px': 8,'margin-top.px':7,'margin-left.px':30}"
    type="button" (click)="addBillSundryClick(formGroup)">
      Add Bill Sundry
    </button>
		</div>

		<div [ngStyle.lg]="{'font-size.px':10,'margin-right.px':70}" fxLayoutAlign="end end" fxLayout="column"
			fxLayoutAlign.sm="end end" fxLayoutAlign.gt-sm="end end" fxLayout.sm="column" fxLayout.gt-sm="column"
			[ngStyle.sm]="{'font-size.px': 8,'margin-left.px':25,'margin-top.px':10}"
			[ngStyle.gt-sm]="{'font-size.px': 9}" fxFlex="100%">
			<div>
				<mat-label class="inputs" [ngStyle.sm]="{'margin-right.px':5}">Taxable Amount:</mat-label>
				<mat-form-field appearance="fill" fxFlex.sm="60%" fxFlex.gt-sm="50%">
					<input matInput formControlName="taxableAmount">
    </mat-form-field>
					<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
			</div>
			<div>
				<mat-label class="inputs" [ngStyle.sm]="{'margin-right.px':5}">cgst@40%4000:</mat-label>
				<mat-form-field appearance="fill" fxFlex.sm="60%" fxFlex.gt-sm="50%">
					<input matInput formControlName="cgstTaxableAmount">
    </mat-form-field>
					<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
			</div>
			<div>
				<mat-label class="inputs" [ngStyle.sm]="{'margin-right.px':5}">sgst@40%4000:</mat-label>
				<mat-form-field appearance="fill" fxFlex.sm="60%" fxFlex.gt-sm="50%">
					<input matInput formControlName="sgstTaxableAmount">
    </mat-form-field>
					<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
			</div>
			<div>
				<mat-label class="inputs" [ngStyle.sm]="{'margin-right.px':5}">cess@40%4000</mat-label>
				<mat-form-field appearance="fill" fxFlex.sm="60%" fxFlex.gt-sm="50%">
					<input matInput formControlName="cessTaxableAmount">
    </mat-form-field>
					<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
			</div>
			<div>
				<mat-label [ngStyle.sm]="{'margin-right.px':5}" [ngStyle.gt-sm]="{'margin-right.px':5}"
					[ngStyle.lg]="{'margin-right.px':10,'margin-top.px':10}">
					Amount</mat-label>
				<mat-form-field appearance="fill" fxFlex.sm="69%" fxFlex.gt-sm="58%">
					<input matInput formControlName="finalAmount">
    </mat-form-field>
					<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
			</div>

		</div>
	</div>
</mat-expansion-panel>