<form [formGroup]="voucherForm">
	<div fxLayout="column" fxLayoutGap="10px">

		<mat-form-field class="example-full-width" class="invoice">
			<mat-label>Invoice No.</mat-label>
			<input matInput formControlName="invoiceNo">
    </mat-form-field>
			<div fxLayout="row" fxLayoutGap="70px">
				<div fxLayout="column">
					<mat-label>Billing Address</mat-label>
					<p class="address" color="primary">Add new address</p>
				</div>
				<div fxLayout="column">
					<mat-label>Shipping Address</mat-label>
					<p class="address" color="primary">Add new address</p>
				</div>
			</div>
			<div fxLayout="row" fxLayoutGap="20px">
				<div>
					<mat-form-field class="date">
						<mat-label>Date</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="date">
						<mat-label>Due Date</mat-label>
						<input matInput [matDatepicker]="picker2" formControlName="dueDate">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutGap="20px">
				<div>
					<mat-form-field class="example-full-width entryFields">
						<mat-label>Number</mat-label>
						<input matInput formControlName="invNumber">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="example-full-width entryFields">
						<mat-label>Conversion Rate</mat-label>
						<input matInput formControlName="conversionRate">
    </mat-form-field>
				</div>
				<div class="">
					<mat-form-field class="example-full-width entryFields">
						<input type="text"
           placeholder="Currency"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto" formControlName="currency">
						<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
							<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
								{{option}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutGap="20px">
				<div>
					<mat-form-field class="example-full-width" class="invoice">
						<mat-label>Description</mat-label>
						<textarea matInput></textarea>
					</mat-form-field>
				</div>
				<div fxLayout="column">
					<mat-label class="cancel">Cancel</mat-label>
					<div fxLayout="row">
						<mat-radio-button value="1" class="selectValue">TRUE</mat-radio-button>
						<mat-radio-button value="2" class="selectValue">FALSE</mat-radio-button>
					</div>
				</div>
			</div>
	</div>

	<mat-accordion formArrayName="skills">
		<app-expansion-panel *ngFor="let skill of voucherForm.get('skills')['controls'];let i=index"
			style="padding:10px;" [formGroup]="skill" [parentFormGroup]="voucherForm" [parentData]="i">
		</app-expansion-panel>
	</mat-accordion>

	<div class="form-group" fxLayoutAlign="end">
		<div class="col-md-offset-2 col-md-4">
			<button mat-raised-button color="primary" type="button"  (click)="addSkillButtonClick()"
         style="margin:10px">
      Add Item
    </button>
		</div>
	</div>
</form>