<mat-drawer-container class="example-container" autosize style="background-color:white;">
	<mat-drawer #drawer class="example-sidenav" mode="over" position="end">
		<app-side-nav></app-side-nav>

	</mat-drawer>
	<mat-toolbar style="background-color:#BFF6FA;" fxLayoutAlign="space-between">
		<span style="margin-top:15px;">Purchase Quotation</span>
		<button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
      (click)="drawer.toggle()" style="margin-top:15px;">
        <mat-icon>menu</mat-icon>
      </button>
	</mat-toolbar>

	<form [formGroup]="voucherForm">
		<div fxLayout="column" fxLayoutGap="10px" fxLayout.xs='column' [ngStyle.xs]="{'font-size.px': 6,width:'100%'}"
			style="font-size:13px;margin-top:10px;margin-left:25px;margin-right:95px">
			<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs='column'>
				<div fxLayout="row" fxLayoutGap="30px" fxLayout.xs='column'>
					<div>
						<mat-form-field class="example-full-width" class="invoice"
							[ngClass]="{'has-error':voucherForm.get('invoiceNo').invalid && voucherForm.get('invoiceNo').touched }"
							appearance="fill">
							<mat-label>Invoice No.</mat-label>
							<input matInput formControlName="invoiceNo">
							<mat-error>{{getInvoiceNoError()}}</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="date"
							[ngClass]="{'has-error':voucherForm.get('date').invalid && voucherForm.get('date').touched }"
							appearance="fill">
							<mat-label>Date</mat-label>
							<input matInput [matDatepicker]="picker" formControlName="date">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<mat-error>
								{{getDateError()}}</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div>
					<mat-form-field class="example-full-width"
						[ngClass]="{'has-error':voucherForm.get('invNumber').invalid && voucherForm.get('invNumber').touched && voucherForm.get('invNumber').errors.CustomValidator}"
						appearance="fill">
						<mat-label>Number</mat-label>
						<input matInput formControlName="invNumber">
						<mat-error>
							{{getinvNumber()}}</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutGap="30px" fxLayout.xs='column'>
				<div>
					<mat-form-field class="example-full-width" class="invoice"
						[ngClass]="{'has-error':voucherForm.get('invoiceNo').invalid && voucherForm.get('invoiceNo').touched }"
						appearance="fill">
						<mat-label>Account</mat-label>
						<input matInput formControlName="account">
						<mat-error>{{getAccountError()}}</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="date"
						[ngClass]="{'has-error':voucherForm.get('dueDate').invalid && voucherForm.get('dueDate').touched }"
						appearance="fill">
						<mat-label>Due Date</mat-label>
						<input matInput [matDatepicker]="picker2" formControlName="dueDate">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
						<mat-error>
							{{getDueDateError()}}</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs='column'>
				<div>
					<mat-form-field class="example-full-width entryFields" appearance="fill">
						<mat-label>Currency</mat-label>
						<input matInput formControlName="currency">
						<mat-error>
							{{getCurrencyError()}}
						</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="example-full-width entryFields"
						[ngClass]="{'has-error':voucherForm.get('conversionRate').invalid && voucherForm.get('conversionRate').touched }"
						appearance="fill">
						<mat-label>Conversion Rate</mat-label>
						<input matInput formControlName="conversionRate">
						<mat-error>{{getConversionRateError()}}
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div>
				<mat-form-field class="example-full-width" class="invoice"
					[ngClass]="{'has-error':voucherForm.get('desc').invalid && voucherForm.get('desc').touched }"
					appearance="fill">
					<mat-label>Description</mat-label>
					<textarea matInput formControlName="desc"></textarea>
					<mat-error>{{getDescriptionError()}}
					</mat-error>
				</mat-form-field>
			</div>


		</div>

		<mat-accordion formArrayName="skills">
			<app-expansion-panel *ngFor="let skill of voucherForm.get('skills')['controls'];let i=index"
				style="padding:10px;" [formGroup]="skill" [parentFormGroup]="voucherForm" [parentData]="i">
			</app-expansion-panel>
		</mat-accordion>

		<div class="form-group" fxLayoutAlign="space-between">
			<div style="margin-top:10px;margin-left:25px">
				<button mat-raised-button color="primary" type="button"  (click)="addSkillButtonClick()">
      Add Item
    </button>
			</div>
			<div>
				<div style="font-size:14px;margin-right:93px;">
					<mat-label style="margin-right:10px">Final Amount:</mat-label>
					<mat-form-field class="example-full-width" appearance="fill">
						<input matInput >
    </mat-form-field>
				</div>
			</div>
		</div>
	</form>
</mat-drawer-container>