<mat-drawer-container class="example-container" autosize style="background-color:white"
	[ngStyle.sm]="{'font-size.px': 8}" [ngStyle.gt-sm]="{'font-size.px': 9}" [ngStyle.lg]="{'font-size.px': 12}">
	<mat-drawer #drawer class="example-sidenav" mode="over" position="end">
		<app-side-nav></app-side-nav>

	</mat-drawer>
	<mat-toolbar style="background-color:#BFF6FA;" fxLayoutAlign="space-between">
		<span style="margin-top:15px;">Purchase Quotation</span>
		<button mat-icon-button color="accent"
      (click)="drawer.toggle()" style="margin-top:15px;">
        <mat-icon>menu</mat-icon>
      </button>
	</mat-toolbar>

	<form [formGroup]="voucherForm">
		<div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.sm="8px"
			style="margin-top:10px;margin-left:25px;margin-right:65px" *ngIf="!deviceXs">
			
      <div fxLayout="row" fxLayout.sm="row" fxLayout.gt-sm="row" fxLayoutAlign="space-between"
				fxLayoutAlign.sm="space-between" fxFlex="100%" fxFlex.sm="100%" fxFlex.gt-sm="100%">
				
        <div fxLayout="row" fxLayout.sm="row" fxLayoutGap="13px" fxFlex="70%" fxFlex.sm="70%">
					
          <mat-form-field appearance="fill" fxFlex="40%" fxFlex.sm="45%" fxFlex.gt-sm="40%">
						<mat-label>Invoice No.</mat-label>
						<input matInput formControlName="invoiceNo">
						<mat-error>{{getInvoiceNoError()}}</mat-error>
					</mat-form-field>
					
          <mat-form-field appearance="fill" fxFlex="20%" fxFlex.sm="23%" fxFlex.gt-sm="20%">
						<mat-label>Date</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-error>
							{{getDateError()}}</mat-error>
					</mat-form-field>

				</div>
				<div fxFlex="20%" fxFlex.sm="20%" fxFlex.gt-sm="20%">
					<mat-form-field appearance="fill" [ngStyle.sm]="{'margin-left.px':10}" fxFlex="100%"
						fxFlex.sm="100%" fxFlex.gt-sm="100%" [ngStyle.gt-sm]="{'margin-left.px':15}">
						<mat-label>Number</mat-label>
						<input matInput formControlName="invNumber">
						<mat-error>
							{{getinvNumber()}}</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayout.sm="row" fxLayoutGap="13px" fxFlex="100%" fxFlex.sm="100%">
				<mat-form-field appearance="fill" fxFlex="28%" fxFlex.sm="32%" fxFlex.gt-sm="28%">
					<mat-label>Account</mat-label>
					<input matInput formControlName="account">
					<mat-error>{{getAccountError()}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" fxFlex="14%" fxFlex.sm="16%" fxFlex.gt-sm="14%">
					<mat-label>Due Date</mat-label>
					<input matInput [matDatepicker]="picker2" formControlName="dueDate">
					<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
					<mat-error>
						{{getDueDateError()}}</mat-error>
				</mat-form-field>
			</div>
			<div fxLayout="row" fxLayoutGap="13px" fxLayout.xs='column' fxFlex="100%" fxFlex.sm="100%"
				fxFlex.gt-sm="100%">
				<mat-form-field appearance="fill" fxFlex="28%" fxFlex.sm="32%" fxFlex.gt-sm="28%">
					<mat-label>Currency</mat-label>
					<input matInput formControlName="currency">
					<mat-error>
						{{getCurrencyError()}}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" fxFlex="14%" fxFlex.sm="16%" fxFlex.gt-sm="14%">
					<mat-label>Conversion Rate</mat-label>
					<input matInput formControlName="conversionRate">
					<mat-error>{{getConversionRateError()}}
					</mat-error>
				</mat-form-field>
			</div>
			<div fxFlex="100%">
				<mat-form-field appearance="fill" fxFlex="28%" fxFlex.sm="32%" fxFlex.gt-sm="28%">
					<mat-label>Description</mat-label>
					<textarea matInput formControlName="desc"></textarea>
					<mat-error>{{getDescriptionError()}}
					</mat-error>
				</mat-form-field>
			</div>


		</div>
		<div *ngIf="deviceXs" [ngStyle.xs]="{'font-size.px':8,'margin-top.px':10}">
			<div fxFlex="column" fxFlex="100%">
				<div fxLayout="row" fxLayoutAlign="space-between">
					<button mat-icon-button >
        <mat-icon>monetization_on</mat-icon>
      </button>
					<mat-form-field fxFlex="35%" appearance="fill" [ngStyle.xs]="{'margin-top.px':8}">
						<mat-label>Number</mat-label>
						<input matInput>
        </mat-form-field>
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between">
					<mat-form-field fxFlex="62%" appearance="fill">
						<mat-label>Invoice No.</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field appearance="fill" fxFlex="35%">
							<mat-label>Date</mat-label>
							<input matInput [matDatepicker]="picker3">
							<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
							<mat-datepicker #picker3></mat-datepicker>
						</mat-form-field>
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between">
					<mat-form-field fxFlex="62%" appearance="fill">
						<mat-label>Account</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field fxFlex="35%" appearance="fill">
							<mat-label>Due Date</mat-label>
							<input matInput [matDatepicker]="picker4">
							<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
							<mat-datepicker #picker4></mat-datepicker>
						</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutAlign="space-between">
					<mat-form-field fxFlex="62%" appearance="fill">
						<mat-label>Description</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field fxFlex="35%" appearance="fill">
							<mat-label>Conversion Rate</mat-label>
							<input matInput>
						</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutAlign="space-between">
					<mat-form-field fxFlex="62%" appearance="fill">
						<mat-label>Center</mat-label>
						<input matInput>
    </mat-form-field>
						<mat-form-field fxFlex="35%" appearance="fill">
							<mat-label>Tax Scope</mat-label>
							<input matInput>
						</mat-form-field>
				</div>

			</div>
		</div>
		<mat-accordion formArrayName="skills" *ngIf="!deviceXs">
			<app-expansion-panel *ngFor="let skill of voucherForm.get('skills')['controls'];let i=index"
				style="padding:10px;" [formGroup]="skill" [parentFormGroup]="voucherForm" [parentData]="i">
			</app-expansion-panel>
		</mat-accordion>
		<mat-accordion *ngIf="deviceXs">
			<app-expansion-panel-xs></app-expansion-panel-xs>
		</mat-accordion>

		<div class="form-group" fxLayoutAlign="space-between" fxLayoutAlign.sm="space-between"
			fxLayoutAlign.gt-sm="space-between" *ngIf="!deviceXs">
			<div style="margin-top:10px;margin-left:25px">
				<button mat-raised-button color="primary" type="button"  (click)="addSkillButtonClick()"
        [ngStyle.sm]="{'font-size.px': 9,'margin-bottom.px':5}" [ngStyle.sm]="{'font-size.px': 10,'margin-bottom.px':7}">
      Add Item
    </button>
			</div>
			<div>
				<div [ngStyle.lg]="{'margin-right.px':93}" [ngStyle.sm]="{'margin-top.px':10,'margin-right.px':20}"
					[ngStyle.gt-sm]="{'margin-top.px':10,'margin-right.px':24}">
					<mat-label [ngStyle.lg]="{'margin-right.px':10}"
						[ngStyle.sm]="{'margin-top.px':10,'margin-right.px':5}"
						[ngStyle.gt-sm]="{'margin-top.px':10,'margin-right.px':5}">Amount:
					</mat-label>
					<mat-form-field appearance="fill" fxFlex.sm="62%" fxFlex.gt-sm="60%">
						<input matInput >
    </mat-form-field>
						<button mat-icon-button [disabled] fxFlex.sm="5%" fxFlex.gt-sm="4%"><mat-icon>clear</mat-icon></button>
				</div>
			</div>
		</div>
		<div fxLayout.xs="row" fxLayoutGap.xs="4px" fxLayoutAlign.xs="space-between"
			[ngStyle.xs]="{'font-size.px':8,'margin-top.px':15}" *ngIf="deviceXs">
			<button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
			<mat-form-field fxFlex.xs="47%" appearance="fill">
				<mat-label>Amount</mat-label>
				<input matInput>
    </mat-form-field>
		</div>
	</form>
</mat-drawer-container>