* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.invoice {
  /* font-size: 15px; */
  width: 320px;
}

.date {
  /* font-size: 15px; */
  width: 150px;
}

.entryFields {
  /* font-size: 15px; */
  width: 150px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.selectValue {
  margin-top: 5px;
  /* font-size: 13px; */
  margin-left: 10px;
}

/* .example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

.example-sidenav {
  padding: 20px;
}
